@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap');

// Миксины
@mixin adaptiv-font($pcSize, $mobSize) {
  $addSize: $pcSize - $mobSize;
  $maxWidth: $maxWidth - 320;
  font-size: calc(
    #{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth})
  );
}

// Шрифт по умолчанию
$fontfamily: 'Roboto', sans-serif;

// Переменные
$minwidth: 320px;
$maxWidth: 1280;
$mw: 1170;
$md1: $mw + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

// Обнуление
* {
  padding: 0;
  margin: 0;
  border: 0;
  // border: 1px solid red;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  background-color: #000;
  // text-shadow: rgba(0, 0, 0, 0.8) 0px 1px 2px;
  height: 100%;
  color: #fff;
  margin: 0;
  padding: 0;
  min-width: $minwidth;
  position: relative;
  width: 100%;
  font-size: 100%;
  font-family: $fontfamily;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  @include adaptiv-font(17, 18);
  &.lock {
    overflow: hidden;
  }
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

.container-box {
  max-width: 100%;
  margin: 0 auto;
  width: 100%;
  // @media (max-width: ($md1 + px)) {
  //   max-width: 970px;
  // }
  @media (max-width: ($md1 + px)) {
    max-width: 750px;
    display: flex;
    flex-direction: column;
  }
  @media (max-width: ($md2 + px)) {
    max-width: none;
    padding: 0 10px;
  }
}

.header {
  width: 100%;
  height: 100vh;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgb(82, 240, 240) 50%,
    rgba(0, 0, 0, 1) 100%
  );
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
}

.header-text {
  @include adaptiv-font(50, 28);
  font-weight: lighter;
  text-align: center;
}

.main {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgb(241, 79, 79) 50%,
    rgba(0, 0, 0, 1) 100%
  );
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
  padding: 0 20px;
}

.social {
  font-size: 6ch;
  color: #fff;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.social:hover {
  color: #111;
}

.social-nav {
  font-size: 4ch;
  color: #fff;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.social-nav:hover {
  color: crimson;
}

.default-links {
  text-decoration: none;
  color: #fff;
}

.photo {
  width: 50%;
  @media (max-width: ($md3+px)) {
    width: 100%;
  }
}

.wrapper {
  width: 50%;
  @media (max-width: ($md2+px)) {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}
